<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 style="display:inline-block; position: relative; top:90px; left:50%; transform: translate(-50%,-50%)">Page Not Found!</h1>

    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

</body>

</html>